<mat-card>
  <mat-card-header>
    <mat-card-title class="center">New Expense</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="expenseForm" (ngSubmit)="submitExpense($event)">
      <p>
        <mat-form-field class="chip-list">
          <mat-chip-grid #chipList aria-label="Tags selection">
            <mat-chip
              (removed)="remove(tag)"
              [removable]="removableChip"
              *ngFor="let tag of selectedTags"
              >{{ tag.name }}<mat-icon matChipRemove>cancel</mat-icon></mat-chip
            >
          </mat-chip-grid>
          <input
            #tagsInput
            type="text"
            [formControl]="tagsControl"
            placeholder="Add maximum 5 tags"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="selected($event)"
          >
            <mat-option
              *ngFor="let tag of filteredTags | async"
              [value]="tag"
              >{{ tag.name }}</mat-option
            >
          </mat-autocomplete>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input
            matInput
            #valueInput
            formControlName="value"
            type="number"
            placeholder="Add expense value"
          />
        </mat-form-field>
      </p>
      <div class="center">
        <button mat-flat-button color="primary" type="button" mat-button>
          Show expenses
        </button>
        <button
          mat-flat-button
          color="accent"
          type="submit"
          mat-button
          (click)="addExpenseClickHandler()"
          [disabled]="selectedTags.length < 1 || !expenseForm.valid"
        >
          Add expense
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
